{% extends 'blog/base.html' %}
{% comment %} {% load static%} {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap_post.css' %}" media="screen"> {% endcomment %}
<link rel="stylesheet" href="{% static 'blog/css/blog_post.css' %}" media="screen">
{% block head_title %} {{post.title}} -Blog {% endblock %}
{% block main_area %}
    <h1>{{ post.title }}</h1>
    <h4>{{ post.created_at }}</h4>
    <hr>
    <!-- Preview Image --> {% if post.head_image %} <img class="img-fluid rounded"
    src="{{ post.head_image.url }}" alt="{{ post.title }} head_image"> {% else %} <img
    class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200"
    alt="random_image"> {% endif %} 
    </hr>
    <p>{{ post.content }}</p>
    <hr />
    <h3>댓글</h3>
{% endblock %}