<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheed" href = "{% static 'single_pages/css/landing.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/220bfd6950.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Landing</h1>
</body>
</html>